:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-font-900: oklch(19.37% 0.006 300.98);
  --gray-font-700: oklch(36.98% 0.014 302.71);
  --gray-font-400: oklch(70.9% 0.015 304.04);
  --gray-font-light: oklch(0.94 0.01 304.16);
  --gray-bg: oklch(0.97 0 0);

  --dark-blue: oklch(0.22 0.08 264.21);
  --blue-icon: oklch(0.72 0.13 220.62);
  --blue: oklch(0.38 0.16 260.3);
  --blue-hover: oklch(0.44 0.14 259.63);

  --shadow_100: 0 2px 8px 0 rgba(26,26,26,0.16);
  --shadow_200: 0 2px 16px 0 rgba(26,26,26,0.24);
  --shadow_300: 0 4px 16px 0 rgba(26,26,26,0.32);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);
}
