:root {
--max-size: 100%;
--max-width: 1100px;
--spacing_1x: 4px;
--spacing_2x: 8px;
--spacing_3x: 12px;
--spacing_4x: 16px;
--spacing_6x: 24px;
--spacing_8x: 32px;
--spacing_12x: 48px;
--spacing_16x: 64px;
--spacing_24x: 96px;
--spacing_half: 2px;
--border_width_100: 1px;
--border_width_200: 2px;
--border_radius_100: 4px;
--border_radius_200: 8px;
--border_radius_300: 12px;
--animation_exit_duration: var(--animation_reduced_motion_duration, 0.12s);
--animation_exit_timing_function: cubic-bezier(0.2,0,1,0.8);
--animation_exit: var(--animation_exit_duration) var(--animation_exit_timing_function);
--animation_enter_duration: var(--animation_reduced_motion_duration, 0.12s);
--animation_enter_timing_function: cubic-bezier(0,0,0.4,0.8);
--animation_enter: var(--animation_enter_duration) var(--animation_enter_timing_function);
--animation_hover_duration: var(--animation_reduced_motion_duration, 0.12s);
--animation_hover_timing_function: cubic-bezier(0.2,0,0.4,0.8);
--animation_hover: var(--animation_hover_duration) var(--animation_hover_timing_function);
--animation_press_duration: var(--animation_reduced_motion_duration, 0.12s);
--animation_press_timing_function: cubic-bezier(0.2,0,0.4,0.8);
--animation_press: var(--animation_press_duration) var(--animation_press_timing_function);
--animation_appear_duration: var(--animation_reduced_motion_duration, 0.24s);
--animation_appear_timing_function: cubic-bezier(0,0,0.4,1);
--animation_appear: var(--animation_appear_duration) var(--animation_appear_timing_function);
--animation_fade_in_duration: var(--animation_reduced_motion_duration, 0.24s);
--animation_fade_in_timing_function: cubic-bezier(0,0,0.4,1);
--animation_fade_in: var(--animation_fade_in_duration) var(--animation_fade_in_timing_function);
--animation_fade_out_duration: var(--animation_reduced_motion_duration, 0.12s);
--animation_fade_out_timing_function: cubic-bezier(1,0,1,1);
--animation_fade_out: var(--animation_fade_out_duration) var(--animation_fade_out_timing_function);
--animation_disappear_duration: var(--animation_reduced_motion_duration, 0.12s);
--animation_disappear_timing_function: cubic-bezier(0.2,0,1,0.8);
--animation_disappear: var(--animation_disappear_duration) var(--animation_disappear_timing_function);
--animation_page_transition_exit_duration: var(--animation_reduced_motion_duration, 0.48s);
--animation_page_transition_exit_timing_function: cubic-bezier(1,0,1,1);
--animation_page_transition_exit: var(--animation_page_transition_exit_duration) var(--animation_page_transition_exit_timing_function);
--animation_page_transition_enter_duration: var(--animation_reduced_motion_duration, 0.48s);
--animation_page_transition_enter_timing_function: cubic-bezier(0,0,0.4,1);
--animation_page_transition_enter: var(--animation_page_transition_enter_duration) var(--animation_page_transition_enter_timing_function);
}
