<h1>{{ "PLACES.KAYAKOY.TITLE" | translate }}</h1>
<div [innerHTML]="'PLACES.KAYAKOY.PARAGRAPH_1' | translate"></div>
<div class="images-block">
  <img src="/assets/img/20436326.jpg" />
  <img src="/assets/img/25702335.jpg" />
  <img src="/assets/img/3520746.jpg" />
</div>
<p>{{ "PLACES.KAYAKOY.PARAGRAPH_2" | translate }}
  <a
    href="https://ulasim.muttas.com.tr/sefer-saatleri/?ac=ac&id=100&tur=gidis"
    target="_blank"
    >{{ "PLACES.KAYAKOY.PARAGRAPH_3" | translate }}</a>.
</p>
<div [innerHTML]="'PLACES.KAYAKOY.PARAGRAPH_4' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1e3XoNi-Xigw8fJMKhY2nnPhwdmZFIJY&ehbc=2E312F"
    width="340"
    height="300"
  ></iframe>
  <img src="/assets/img/343332213.jpg" />
</div>
<div [innerHTML]="'PLACES.KAYAKOY.PARAGRAPH_5' | translate"></div>
<h2>{{ "PLACES.FINISH" | translate }}</h2>
