<h1>{{ "RENT.CARS.TITLE" | translate }}</h1>
<p>{{ "RENT.CARS.PARAGRAPH_1" | translate }}</p>
<ol>
  <li>
    {{ "RENT.CARS.PARAGRAPH_2" | translate }}
    <div class="images-block">
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1J0abz640mw_RzO7sUITP1yRTeilekPw&ehbc=2E312F"
        width="640"
        height="400"
      ></iframe>
    </div>
    <p>
      <a href="https://takecars.com/ru/" target="_blank">Takecars.com</a>,
      <a href="https://www.discovercars.com/ru/turkey" target="_blank">
        Discovercars.com </a
      >,
      <a href="https://www.rentalcars.com/ru" target="_blank">Rentalcars.com</a>
    </p>
  </li>
  <li>
    {{ "RENT.CARS.PARAGRAPH_3" | translate }}
    <div class="images-block">
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1useuOHac6on-H6_DTTunVFMNw-o0g04&ehbc=2E312F"
        width="640"
        height="400"
      ></iframe>
    </div>
    <p>
      <a href="https://takecars.com/ru/" target="_blank">Takecars.com</a>,
      <a href="https://localrent.com/ru" target="_blank">Localrent.com</a>,
      <a href="https://www.rentalcars.com/ru" target="_blank">Rentalcars.com</a>
    </p>
  </li>
</ol>
<p>{{ "RENT.CARS.PARAGRAPH_4" | translate }}</p>
<ol>
  <li>{{ "RENT.CARS.PARAGRAPH_5" | translate }}</li>
  <li>{{ "RENT.CARS.PARAGRAPH_6" | translate }}</li>
  <li>{{ "RENT.CARS.PARAGRAPH_7" | translate }}</li>
</ol>
<div [innerHTML]="'RENT.CARS.PARAGRAPH_8' | translate"></div>
<div [innerHTML]="'RENT.CARS.PARAGRAPH_9' | translate"></div>
<div [innerHTML]="'RENT.CARS.PARAGRAPH_10' | translate"></div>

<h2>{{ "PLACES.FINISH" | translate }}</h2>
