:host {
  display: block;
  position: relative;
  z-index: 0;
  margin-bottom: 15px;

  .home-filter-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  mat-form-field {
    margin-right: 15px;
  }
}
