<h1>{{ "PLACES.VALLEY.TITLE" | translate }}</h1>
<div [innerHTML]="'PLACES.VALLEY.PARAGRAPH_1' | translate"></div>
<div class="images-block">
  <img src="/assets/img/453024062.jpg" />
  <img src="/assets/img/2352397.jpg" />
  <img src="/assets/img/52406201.jpg" />
</div>
<div [innerHTML]="'PLACES.VALLEY.PARAGRAPH_2' | translate"></div>
<div class="images-block">
  <img src="/assets/img/16467121.jpg" />
  <img src="/assets/img/679544.jpg" />
</div>
<div [innerHTML]="'PLACES.VALLEY.PARAGRAPH_3' | translate"></div>
<div class="images-block">
  <img src="/assets/img/74563723.jpg" />
  <img src="/assets/img/1646712.jpg" />
  <img src="/assets/img/3b70f361.jpg" />
</div>
<h2>{{ "PLACES.FINISH" | translate }}</h2>
