<ng-container *ngIf="home$ | async as home">
  <div class="home-wrapper">
    <div class="home-back">
      <button mat-icon-button aria-label (click)="goToVillasPage()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div>{{ "RENT.BACK" | translate }}</div>
    </div>
    <div class="home-images">
      <button
        mat-icon-button
        aria-label
        [disabled]="!selectedImgIndex$.value"
        (click)="changeImgIndex(selectedImgIndex$.value, 'dec')"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <div class="home-image">
        <img [src]="selectedImg$ | async" />
      </div>
      <button
        mat-icon-button
        aria-label
        (click)="changeImgIndex(selectedImgIndex$.value)"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
    <h1>{{ home.title }}</h1>
    <div class="home-annons">
      <p>{{ "RENT.ANNONS" | translate }}</p>
      <ul>
        <li>
          <p>{{ home.guests }} {{ "RENT.GUESTS" | translate }}, </p>
        </li>
        <li>
          <p>{{ home.bedrooms }} {{ ( home.bedrooms == 1 ? "RENT.BADROOM" : "RENT.BADROOMS") | translate }}, </p>
        </li>
        <li>
          <p>{{ home.bathrooms }} {{ ( home.bathrooms == 1 ? "RENT.BATHROOM" : "RENT.BATHROOMS") | translate }}</p>
        </li>
      </ul>
      <div>
        <div><mat-icon>grade</mat-icon> 5</div>
        <div>{{ home.reviews.length }} {{ "RENT.REVIEWS" | translate }}</div>
      </div>
    </div>
    <div class="home-line"></div>
    <div class="home-desc">
      {{ desc$ | async }}
    </div>
    <div class="home-line"></div>
    <h2>{{ "RENT.OFFERS.TITLE" | translate }}</h2>
    <div class="home-offers">
      @for (item of home.offers; track item) {
        <div>
          <span><mat-icon>{{ getOfferIcon(item) }}</mat-icon></span>
          <span>{{ "RENT.OFFERS." + item.toLocaleUpperCase() | translate }}</span>
        </div>
      }
    </div>
    <div class="home-line"></div>
    <div class="home-dates">
      <div>
        <h2>{{ "RENT.PRICE" | translate }}</h2>
        @if (!!nigthsCount()) {
          <h2>{{ getFinalPrice(home) }} {{ "RENT.CURRENCY" | translate }}</h2>
        }
      </div>
      <div>
        <div class="calendar">
          @if (!!nigthsCount()) {
            <p>
              {{ selectedDateRange()!.start  | date }} - {{ selectedDateRange()!.end  | date }}
              ({{ nigthsCount() }} {{ ("RENT." + (nigthsCount() == 1 ? "NIGHT" : (nigthsCount() < 5) ? "NIGHTS" : "NIGHTSS")) | translate }})
            </p>
          } @else {
            <p>{{ "RENT.CHOSE_DATES" | translate }}</p>
          }
          <mat-calendar
            [selected]="selectedDateRange()"
            [minDate]="today"
            (selectedChange)="rangeChanged($event)">
          </mat-calendar>
        </div>
      </div>
    </div>
    <p>
      {{ "RENT.PARAGRAPH_1" | translate }}
    </p>
    <button class="active-button" (click)="openDialog(home)">
      {{ "RENT.DETAILS" | translate }}
    </button>
  </div>
</ng-container>
