// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$olu-guide-blue: (
    50: #ffffff,
    100: #dde6f3,
    200: #b4c9e4,
    300: #7fa3d1,
    400: #6992c9,
    500: #5282c1,
    600: #4072b4,
    700: #38649d,
    800: #1d4f9e,
    900: #003a95,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A800: #1d4f9e,
    A900: #003a95,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$olu-guide-primary: mat.m2-define-palette($olu-guide-blue, A800, A900);
$olu-guide-accent: mat.m2-define-palette(mat.$m2-indigo-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$olu-guide-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$olu-guide-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $olu-guide-primary,
      accent: $olu-guide-primary,
      warn: $olu-guide-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($olu-guide-theme);

:root {
  --max-size: 100%;
  --max-width: 1100px;
  --spacing_1x: 4px;
  --spacing_2x: 8px;
  --spacing_3x: 12px;
  --spacing_4x: 16px;
  --spacing_6x: 24px;
  --spacing_8x: 32px;
  --spacing_12x: 48px;
  --spacing_16x: 64px;
  --spacing_24x: 96px;
  --spacing_half: 2px;
  --border_width_100: 1px;
  --border_width_200: 2px;
  --border_radius_100: 4px;
  --border_radius_200: 8px;
  --border_radius_300: 12px;
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-font-900: oklch(19.37% 0.006 300.98);
  --gray-font-700: oklch(36.98% 0.014 302.71);
  --gray-font-400: oklch(70.9% 0.015 304.04);
  --gray-font-light: oklch(0.94 0.01 304.16);
  --gray-bg: oklch(0.97 0 0);

  --dark-blue: oklch(0.22 0.08 264.21);
  --blue-icon: oklch(0.72 0.13 220.62);
  --blue: oklch(0.38 0.16 260.3);
  --blue-hover: oklch(0.44 0.14 259.63);

  --shadow_100: 0 2px 8px 0 rgba(26,26,26,0.16);
  --shadow_200: 0 2px 16px 0 rgba(26,26,26,0.24);
  --shadow_300: 0 4px 16px 0 rgba(26,26,26,0.32);
}


html,
body {
  height: var(--max-size);
  margin: 0;
}

body {
  //height: 100vh;
  //overflow-y: hidden;
  overflow-x: auto;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

h1 {
  font-size: 50px;
  color: var(--gray-font-900);
  font-weight: 500;
  line-height: var(--max-size);
  letter-spacing: -0.125rem;
  margin: 0 0 15px 0;
  @media (max-width: 470px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 22px;
  color: var(--gray-font-900);
  font-weight: 400;
  line-height: var(--max-size);
  margin: 15px 0;
  @media (max-width: 470px) {
    font-size: 1.5rem;
  }
}

p {
  margin: 0 0 5px;
  line-height: 1.3rem;
}

div,
p,
li,
a {
  font-size: 16px;
  color: var(--gray-font-700);
  text-decoration: none;
}

p > a {
  text-decoration: underline;
}

.images-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px auto;

  img {
    @media (max-width: 470px) {
      height: auto;
      width: 49%;
      &:nth-child(3n) {
        display: none;
      }
    }
  }
  iframe + img {
    @media (max-width: 470px) {
      display: none;
    }
  }
}

.wrapper-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  app-info-item:nth-child(5n + 1),
  app-info-item:nth-child(5n + 2) {
    width: 48%;

    img {
      height: 350px;
    }
    @media (max-width: 470px) {
      img {
        height: 150px;
      }
    }
  }

  app-info-item:not(:nth-child(5n + 1), :nth-child(5n + 2)) {
    width: 32%;

    img {
      height: 220px;
    }
    @media (max-width: 470px) {
      width: 48%;
      img {
        height: 150px;
      }
    }
  }

  a {
    display: block;
    width: var(--max-size);
    height: var(--max-size);
    position: relative;

    & > p {
      position: absolute;
      bottom: 20px;
      left: 0;
      font-size: 2rem;
      background: rgb(255 255 255 / 52%);
      width: calc(100% - 40px);
      padding: 15px 20px;
      @media (max-width: 470px) {
        font-size: 1.2rem;
      }
    }
  }

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

button {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 0px solid transparent;
  font-size: 16px;

  &.active-button {
    background-color: var(--blue);
    color: var(--gray-font-light);

    &:hover {
      background: var(--blue-hover);
    }
  }

  &.active-gray-button {
    background-color: var(--gray-font-light);
    color: var(--blue);

    &:hover {
      color: var(--blue-hover);
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }

  & + button {
    margin-left: 15px;
  }
}
@media (max-width: 470px) {
}
