<h1>{{ "PLACES.YAKAPARK.TITLE" | translate }}</h1>
<div [innerHTML]="'PLACES.YAKAPARK.PARAGRAPH_1' | translate"></div>
<div [innerHTML]="'PLACES.YAKAPARK.PARAGRAPH_2' | translate"></div>
<div class="images-block">
  <img src="/assets/img/61627.jpg" />
  <img src="/assets/img/71716178.jpg" />
  <img src="/assets/img/161820.jpg" />
</div>
<div [innerHTML]="'PLACES.YAKAPARK.PARAGRAPH_3' | translate"></div>
<div [innerHTML]="'PLACES.YAKAPARK.PARAGRAPH_4' | translate"></div>
<div [innerHTML]="'PLACES.YAKAPARK.PARAGRAPH_5' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1clxFD1s6H8qXmBVMKzpfNQu2_1TZ98I&ehbc=2E312F"
    width="640"
    height="400"
  ></iframe>
</div>

<h2>{{ "PLACES.FINISH" | translate }}</h2>
