<h1>{{ "INFO.NEIGHBORHOODS.TITLE" | translate }}</h1>
<div [innerHTML]="'INFO.NEIGHBORHOODS.PARAGRAPH_1' | translate"></div>
<div [innerHTML]="'INFO.NEIGHBORHOODS.PARAGRAPH_2' | translate"></div>
<div [innerHTML]="'INFO.NEIGHBORHOODS.PARAGRAPH_3' | translate"></div>
<div [innerHTML]="'INFO.NEIGHBORHOODS.PARAGRAPH_4' | translate"></div>
<div [innerHTML]="'INFO.NEIGHBORHOODS.PARAGRAPH_5' | translate"></div>
<div [innerHTML]="'INFO.NEIGHBORHOODS.PARAGRAPH_6' | translate"></div>
<div [innerHTML]="'INFO.NEIGHBORHOODS.PARAGRAPH_7' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1U3ap857QuoP3KwfWGItOKVjzfBjSzJQ&ehbc=2E312F"
    width="640"
    height="480"
  >
  </iframe>
</div>
<h2>{{ "PLACES.FINISH" | translate }}</h2>
