<h1>{{ "PLACES.SAKLIKENT.TITLE" | translate }}</h1>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_1' | translate"></div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_2' | translate"></div>
<div class="images-block">
  <img src="/assets/img/7132544.jpg" />
  <img src="/assets/img/0717132341.jpg" />
  <img src="/assets/img/2624.jpg" />
</div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_3' | translate"></div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_4' | translate"></div>
<div class="images-block">
  <img src="/assets/img/17132959.jpg" />
  <img src="/assets/img/7132752.jpg" />
  <img src="/assets/img/32852.jpg" />
</div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_5' | translate"></div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_6' | translate"></div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_7' | translate"></div>
<div class="images-block">
  <img src="/assets/img/7133122.jpg" />
  <img src="/assets/img/071713327.jpg" />
  <img src="/assets/img/33037.jpg" />
</div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_8' | translate"></div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_9' | translate"></div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_10' | translate"></div>
<div [innerHTML]="'PLACES.SAKLIKENT.PARAGRAPH_11' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1clxFD1s6H8qXmBVMKzpfNQu2_1TZ98I&ehbc=2E312F"
    width="640"
    height="400"
  ></iframe>
</div>

<h2>{{ "PLACES.FINISH" | translate }}</h2>
