:host {
  .dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }

  .dialog-form {
    max-width: 100%;

    .input-full-width {
      width: 100%;

      p {
        margin: 0;
      }

      &.checkbox {
        display: flex;
        align-items: center;
        @media (max-width: 470px) {
          p {
            width: 50%;
          }
        }
      }

      .mat-mdc-radio-button ~ .mat-mdc-radio-button {
        margin-left: 16px;
        @media (max-width: 470px) {
          margin-left: 0;
        }
      }
    }

    &-result {
      flex-direction: column;
      text-align: center;

      button {
        margin-top: 15px;
      }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
    }

    .prices-list {
      padding: 10px;
      border: 1px solid var(--gray-font-400);
      border-radius: 7px;

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > mat-form-field {
          width: 40%;
        }
      }
    }

    h2 {
      margin-top: 15px;
      font-weight: 900;
    }

    mat-form-field {
      margin-top: 10px;
    }
  }

  ::ng-deep {
    .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
      background-color: var(--blue);
    }
    .mat-mdc-radio-button
      .mdc-radio
      .mdc-radio__native-control:enabled:checked
      + .mdc-radio__background
      .mdc-radio__outer-circle,
    .mat-mdc-radio-button
      .mdc-radio:hover
      .mdc-radio__native-control:enabled:checked
      + .mdc-radio__background
      .mdc-radio__outer-circle {
      border-color: var(--blue);
    }
    .mat-mdc-radio-button
      .mdc-radio
      .mdc-radio__native-control:enabled
      + .mdc-radio__background
      .mdc-radio__inner-circle,
    .mat-mdc-radio-button
      .mdc-radio:hover
      .mdc-radio__native-control:enabled
      + .mdc-radio__background
      .mdc-radio__inner-circle {
      border-color: var(--blue);
    }
  }
}
