<h1>{{ "LEISURE.JEEP.TITLE" | translate }}</h1>
<div [innerHTML]="'LEISURE.JEEP.PARAGRAPH_1' | translate"></div>
<div [innerHTML]="'LEISURE.JEEP.PARAGRAPH_2' | translate"></div>
<div [innerHTML]="'LEISURE.JEEP.PARAGRAPH_3' | translate"></div>
<div class="images-block">
  <img src="/assets/img/1615365.jpg" />
  <img src="/assets/img/82925.jpg" />
  <img src="/assets/img/5563929.jpg" />
</div>
<div [innerHTML]="'LEISURE.JEEP.PARAGRAPH_4' | translate"></div>
<div [innerHTML]="'LEISURE.JEEP.PARAGRAPH_5' | translate"></div>

<h2>{{ "PLACES.FINISH" | translate }}</h2>
