<h1>{{ "INFO.BUS.TITLE" | translate }}</h1>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_1' | translate"></div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_2' | translate"></div>
<div class="images-block">
  <img src="/assets/img/22212343.jpg" />
  <img src="/assets/img/3338823.jpg" />
</div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_3' | translate"></div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_4' | translate"></div>
<div class="images-block">
  <img src="/assets/img/4452332.jpg" />
  <img src="/assets/img/2999934.jpg" />
</div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_5' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1m56nYH6sGTs0Fmg8zEzCeqvpz1YL4Cg&ehbc=2E312F"
    width="640"
    height="400"
  ></iframe>
</div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_6' | translate"></div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_7' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1vS-CrVEcyOlcGdYDwpaZgYj6yOv5yB8&ehbc=2E312F"
    width="640"
    height="400"
  ></iframe>
</div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_8' | translate"></div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_9' | translate"></div>
<div [innerHTML]="'INFO.BUS.PARAGRAPH_10' | translate"></div>

<ol>
  <li>
    <p>{{ "INFO.BUS.PARAGRAPH_11" | translate }}</p>
    <div class="images-block">
      <img src="/assets/img/33999232.jpg" />
      <img src="/assets/img/2334321.jpeg" />
    </div>
  </li>
  <li><p>{{ "INFO.BUS.PARAGRAPH_12" | translate }}</p></li>
  <li><p>{{ "INFO.BUS.PARAGRAPH_13" | translate }}</p></li>
</ol>
<p>{{ "INFO.BUS.PARAGRAPH_14" | translate }}</p>
<p>{{ "INFO.BUS.PARAGRAPH_15" | translate }}</p>
<p>{{ "INFO.BUS.PARAGRAPH_16" | translate }}</p>

<h2>{{ "PLACES.FINISH" | translate }}</h2>
