<h1>{{ "INFO.PURCHASES.TITLE" | translate }}</h1>
<p>{{ "INFO.PURCHASES.PARAGRAPH_1" | translate }}</p>
<div [innerHTML]="'INFO.PURCHASES.PARAGRAPH_2' | translate"></div>
<div class="images-block">
  <img src="/assets/img/2407014.jpg" />
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1fJVr06lOTxuInoB1oMwN-cQ-c6v3E30&ehbc=2E312F"
    width="500"
    height="300"
  ></iframe>
</div>

<p>{{ "INFO.PURCHASES.PARAGRAPH_3" | translate }}</p>
<div [innerHTML]="'INFO.PURCHASES.PARAGRAPH_4' | translate"></div>
<div class="images-block">
  <img src="/assets/img/5701144421.jpg" />
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1iYsIJBkw2dhhViAmkLKHx3FCCJq4UsA&ehbc=2E312F"
    width="400"
    height="300"
  ></iframe>
</div>

<div [innerHTML]="'INFO.PURCHASES.PARAGRAPH_5' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=18Xa7UGMr6Nn-_eILKdczk2KQnjkdqN4&ehbc=2E312F"
    width="640"
    height="400"
  ></iframe>
</div>

<p>{{ "INFO.PURCHASES.PARAGRAPH_6" | translate }}</p>
<div [innerHTML]="'INFO.PURCHASES.PARAGRAPH_7' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1jfxUBa7nQd-ivxjZ1rZb5JbGwLdRrCo&ehbc=2E312F"
    width="640"
    height="400"
  ></iframe>
</div>

<div [innerHTML]="'INFO.PURCHASES.PARAGRAPH_8' | translate"></div>
<div class="images-block">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1UeYkwBeHXyzn2slwGuhGAg44RmwVhTo&ehbc=2E312F"
    width="640"
    height="400"
  ></iframe>
</div>

<h2>{{ "PLACES.FINISH" | translate }}</h2>
