<h1>{{ "LEISURE.PARAGLIDING.TITLE" | translate }}</h1>
<div [innerHTML]="'LEISURE.PARAGLIDING.PARAGRAPH_1' | translate"></div>
<div [innerHTML]="'LEISURE.PARAGLIDING.PARAGRAPH_2' | translate"></div>
<div [innerHTML]="'LEISURE.PARAGLIDING.PARAGRAPH_3' | translate"></div>
<div class="images-block">
  <img src="/assets/img/5702115453.jpg" />
  <img src="/assets/img/7211562.jpg" />
  <img src="/assets/img/402115341.jpg" />
</div>
<div [innerHTML]="'LEISURE.PARAGLIDING.PARAGRAPH_4' | translate"></div>

<h2>{{ "PLACES.FINISH" | translate }}</h2>
